cds/src/Workflows/CopytoNexis-A8C28660-F03D-EB11-A813-000D3A530FA6.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"media_sharedcommondataservice_90942"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"media_sharedcommondataserviceforapps_49c83"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"media_blobpath":{"title":"Blob Path","type":"string"},"media_assetid":{"title":"Asset","type":"string","format":"guid"}},"required":["media_blobpath","media_assetid"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"media_assets"}}}},"actions":{"Initialize_variable_BlobPath":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"BlobPath","type":"string","value":"@triggerBody()?['entity']?['media_blobpath']"}]}},"Check_API_Configuration_present_or_not":{"actions":{"Media_Setting_Value":{"runAfter":{},"type":"Compose","inputs":"@outputs('Fetch_API_Configuration')?['body']?['value']?[0]?['media_setting']"},"Check_Copy_to_nexis_API_url":{"actions":{"Call_Logic_App_Copy_to_Nexis":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"@body('Parse_API_Setting')?['copyToNexisUrl']","headers":{"Accept":"application/json"},"body":{"containerName":"@{first(split(variables('BlobPath'),'/'))}","folderPath":"@{join(skip(split(variables('BlobPath'),'/'),1),'/')}","assetId":"@{triggerBody()?['entity']?['media_assetid']}"}}},"Set_variable-ErrorMessageLogicApp_Call_error":{"runAfter":{"Call_Logic_App_Copy_to_Nexis":["Failed","TimedOut"]},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"Failed to call copy to nexis api"}}},"runAfter":{"Parse_API_Setting":["Succeeded"]},"else":{"actions":{"Set_variable-ErrorMessageAPI":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"Copy to nexis API url is not present"}}}},"expression":{"greater":["@length(body('Parse_API_Setting')?['copyToNexisUrl'])",0]},"type":"If"},"Set_variable-InvalidAPI_ErrorMessage":{"runAfter":{"Parse_API_Setting":["Failed","TimedOut"]},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"API Configuration is not present or invalid."}},"Parse_API_Setting":{"runAfter":{"Media_Setting_Value":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Media_Setting_Value')","schema":{"type":"object","properties":{"copyToNexisUrl":{"type":"string"},"copyToVendorLocation":{"type":"string"}}}}}},"runAfter":{"Fetch_API_Configuration":["Succeeded"]},"else":{"actions":{"Set_variable-Error_Message":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"API configuration is missing"}}}},"expression":{"and":[{"greater":["@length(outputs('Fetch_API_Configuration')?['body']?['value'])",0]},{"not":{"equals":["@outputs('Fetch_API_Configuration')?['body']?['value']?[0]?['media_setting']","@null"]}},{"greater":["@length(outputs('Fetch_API_Configuration')?['body']?['value']?[0]?['media_setting'])",0]}]},"type":"If"},"Initialize_variable_Error_Message":{"runAfter":{"Initialize_variable_BlobPath":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorMessage","type":"string"}]}},"Check_for_ErrorMessage":{"actions":{"Log_Error":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"media_asseterrorlogs","item/media_name":"Error occurred during copy to nexis","item/media_Asset@odata.bind":"@triggerBody()?['entity']?['media_assetid']","item/media_description":"@variables('ErrorMessage')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Check_API_Configuration_present_or_not":["Succeeded"]},"expression":{"greater":["@length(variables('ErrorMessage'))",0]},"type":"If"},"Fetch_API_Configuration":{"runAfter":{"Initialize_variable_Error_Message":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"media_configurations","$filter":"statecode eq 0","$orderby":"createdon","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}