cds/src/Workflows/CopytoVendorLocation-622DC589-9C4A-EB11-A813-000D3A1C234D.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"media_sharedcommondataservice_90942"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"media_sharedcommondataserviceforapps_49c83"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"media_assetid":{"title":"Asset","type":"string","format":"guid"},"media_name":{"title":"Shoot Day","type":"string"},"media_blobpath":{"title":"Blob Path","type":"string"}},"required":["media_assetid","media_name","media_blobpath"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"media_assets"}}}},"actions":{"Initialize_variable_BlobPath":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"BlobPath","type":"string","value":"@triggerBody()?['entity']?['media_blobpath']"}]}},"Initialize_variable-ErrorMessage":{"runAfter":{"Initialize_variable_BlobPath":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorMessage","type":"string"}]}},"Initialize_variable-ShowId":{"runAfter":{"Initialize_variable-ErrorMessage":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ShowId","type":"string"}]}},"Fetch_Show_and_Vendors":{"runAfter":{"Initialize_variable-ShowId":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"media_assets","fetchXml":"<fetch>\n  <entity name=\"media_asset\" >\n    <attribute name=\"media_assetid\" />\n    <attribute name=\"media_name\" />\n    <filter type=\"and\">\n        <condition attribute=\"media_assetid\" operator=\"eq\" value=\"@{triggerBody()?['entity']?['media_assetid']}\" />\n      </filter>\n    <link-entity name=\"media_assetcontainer\" from=\"media_assetcontainerid\" to=\"media_assetcontainer\" link-type=\"inner\" >\n      <attribute name=\"media_assetcontainerid\" />\n      <attribute name=\"media_name\" />\n      <link-entity name=\"media_showvendormapping\" from=\"media_show\" to=\"media_assetcontainerid\" link-type=\"inner\" >\n        <link-entity name=\"media_vendor\" from=\"media_vendorid\" to=\"media_vendor\" link-type=\"outer\" >\n          <attribute name=\"media_folderpath\" />\n          <attribute name=\"media_vendorid\" />\n        </link-entity>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Check_Vendor_Mapping_for_show":{"actions":{"Apply_to_each":{"foreach":"@outputs('Fetch_Show_and_Vendors')?['body/value']","actions":{"Call_Logic_App_for_vendor_copy":{"runAfter":{"Create_asset_copy_status_record":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"@body('Parse_API_Setting')?['copyToVendorLocation']","headers":{"Accept":"application/json"},"body":{"containerName":"@{first(split(variables('BlobPath'), '/'))}","folderPath":"@{join(skip(split(variables('BlobPath'), '/'), 1), '/')}","assetId":"@{triggerBody()?['entity']?['media_assetid']}","vendorContainer":"@{items('Apply_to_each')?['media_vendor3.media_folderpath']}","vendorCopyStatusId":"@{outputs('Create_asset_copy_status_record')?['body/media_vendorcopystatusid']}"}}},"Create_asset_copy_status_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"media_vendorcopystatuses","item/media_asset@odata.bind":"/media_assets/@{items('Apply_to_each')?['media_assetid']}","item/media_copydestination":207940001,"item/media_name":"test","item/media_vendor@odata.bind":"/media_vendors/@{items('Apply_to_each')?['media_vendor3.media_vendorid']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable-ErrorMessage_for_Failed_API":{"runAfter":{"Call_Logic_App_for_vendor_copy":["Failed","TimedOut"]},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"Failed to call copy to vendor API"}}},"runAfter":{"Check_API_Configuration_present_or_not":["Succeeded"]},"type":"Foreach"},"Check_API_Configuration_present_or_not":{"actions":{"Media_Setting_Value":{"runAfter":{},"type":"Compose","inputs":"@outputs('Fetch_API_Configuration')?['body']?['value']?[0]?['media_setting']"},"Check_Copy_to_nexis_API_url":{"actions":{},"runAfter":{"Parse_API_Setting":["Succeeded"]},"else":{"actions":{"Set_variable-ErrorMessageAPI":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"Copy to nexis API url is not present"}}}},"expression":{"greater":["@length(body('Parse_API_Setting')?['copyToNexisUrl'])",0]},"type":"If"},"Set_variable-InvalidAPI_ErrorMessage":{"runAfter":{"Parse_API_Setting":["Failed","TimedOut"]},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"API Configuration is not present or invalid."}},"Parse_API_Setting":{"runAfter":{"Media_Setting_Value":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Media_Setting_Value')","schema":{"type":"object","properties":{"copyToNexisUrl":{"type":"string"},"copyToVendorLocation":{"type":"string"}}}}}},"runAfter":{"Fetch_API_Configuration":["Succeeded"]},"else":{"actions":{"Set_variable-Error_Message":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"API configuration is missing"}}}},"expression":{"and":[{"greater":["@length(outputs('Fetch_API_Configuration')?['body']?['value'])",0]},{"not":{"equals":["@outputs('Fetch_API_Configuration')?['body']?['value']?[0]?['media_setting']","@null"]}},{"greater":["@length(outputs('Fetch_API_Configuration')?['body']?['value']?[0]?['media_setting'])",0]}]},"type":"If"},"Fetch_API_Configuration":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"media_configurations","$filter":"statecode eq 0","$orderby":"createdon","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Initialize_variable":["Succeeded"]},"else":{"actions":{"Set_variable-ErrorMessage_no_vendor_mapping_found":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ErrorMessage","value":"No Vendor mapping found for the associated show"}}}},"expression":{"greater":["@length(outputs('Fetch_Show_and_Vendors')?['body/value'])",0]},"type":"If"},"Check_error_message":{"actions":{"Log_Error":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"media_asseterrorlogs","item/media_name":"Error occurred during copy to vendor location","item/media_Asset@odata.bind":"@triggerBody()?['entity']?['media_assetid']","item/media_description":"@variables('ErrorMessage')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Check_Vendor_Mapping_for_show":["Succeeded"]},"expression":{"greater":["@length(variables('ErrorMessage'))",0]},"type":"If"},"Initialize_variable":{"runAfter":{"Fetch_Show_and_Vendors":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DummyTest","type":"array","value":"@outputs('Fetch_Show_and_Vendors')?['body/value']"}]}},"Log_Error_2":{"runAfter":{"Initialize_variable":["Failed","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"media_asseterrorlogs","item/media_name":"Error occured duing copy asset to vendor location","item/media_Asset@odata.bind":"@triggerBody()?['entity']?['media_assetid']","item/media_description":"Error occured while executing the flow copy to vendor location"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}