deployment/logicapps/createshowcontainer.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connection_commondataservice": {
            "type": "string",
           "defaultValue":"[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/commondataservice')]"
        },
        "sites_MediaLakeFunction": {
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/sites/MediaLakeFunction')]",
            "type": "String"
        }
    },
    "functions": [],
    "variables": {},
    "resources": [
        {
            "name": "Logic-CreateShowContainer",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {                        
                        "When_a_record_is_created": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "NotificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('org5bf00bc1.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('media_assetcontainers'))}/onnewitemswebhook",
                                "queries": {
                                    "scope": "Organization"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": {
                                "name": "@{triggerBody()?['media_name']}"
                            }
                        },
                        "Create_Show_Container": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "function": {
                                    "id": "[concat(parameters('sites_MediaLakeFunction'), '/functions/CreateShowContainer')]"
                                }
                            }
                        },
                        "Create_error_log_record": {
                            "runAfter": {
                                "Create_Show_Container": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "_media_assetcontainer_value": "@triggerBody()?['media_assetcontainerid']",
                                    "media_name": "Failed to create Show container @{triggerBody()?['media_name']}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('org5bf00bc1.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('media_asseterrorlogs'))}/items"
                            }
                        },
                        "Response_failure": {
                            "runAfter": {
                                "Create_error_log_record": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "Message": "Failed to create Show container"
                                },
                                "statusCode": 500
                            }
                        },
                        "Response_success": {
                            "runAfter": {
                                "Update_a_record": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "Message": "Show container created successfully"
                                },
                                "statusCode": 200
                            }
                        },
                        "Update_a_record": {
                            "runAfter": {
                                "Create_Show_Container": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "media_containerpath": "@{body('Create_Show_Container')}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "patch",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('org5bf00bc1.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('media_assetcontainers'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['media_assetcontainerid']))}"
                            }
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "commondataservice": {
                                "connectionId": "[parameters('connection_commondataservice')]",
                                "connectionName": "commondataservice",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}