deployment/logicapps/errorlognotification.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"connection_commondataservice": {
			"type": "string",
			"defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/commondataservice')]"
		},
		"workflows_Logic_SendEmail": {
			"defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Logic/workflows/Logic-SendEmail')]",
			"type": "String"
		},
		"crmOrgName": {
			"type": "string",
			"metadata": {
				"description": "description"
			}
		},
		"crmIdentifier": {
			"type": "string",
			"metadata": {
				"description": "crmIdentifier"
			}
		}
	},
	"functions": [
		{
			"namespace": "durin",
			"members": {
				"wrapInQuote": {
					"parameters": [
						{
							"name": "text",
							"type": "string"
						}
					],
					"output": {
						"value": "[concat('''', parameters('text'),'''')]",
						"type": "string"
					}
				}
			}
		}
	],
	"variables": {
		"org": "[durin.wrapInQuote(concat(parameters('crmOrgName'),'.',parameters('crmIdentifier')))]"
	},
	"resources": [
		{
			"name": "Logic-ErrorLogNotification",
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"location": "[resourceGroup().location]",
			"properties": {
				"definition": {
					"$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"When_a_record_is_created": {
							"type": "ApiConnectionWebhook",
							"inputs": {
								"body": {
									"NotificationUrl": "@{listCallbackUrl()}"
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['commondataservice']['connectionId']"
									}
								},
								"path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_asseterrorlogs'),'))}/onnewitemswebhook')]",
								"queries": {
									"scope": "Organization"
								}
							}
						}
					},
					"actions": {
						"Compose_Email_Body": {
							"runAfter": {
								"Switch_on_ReferredRecordType": [
									"Succeeded"
								]
							},
							"type": "Compose",
							"inputs": "@triggerBody()?['media_description']"
						},
						"Compose_ReferredRecordType_": {
							"runAfter": {
								"Initialize_variable_RecipientsList": [
									"Succeeded"
								]
							},
							"type": "Compose",
							"inputs": "@if(equals(triggerBody()?['_media_assetfiles_value'],null),if(equals(triggerBody()?['_media_asset_value'],null),'','asset'),'assetfiles')"
						},
						"Initialize_variable_-_DefaultNotificationEmail": {
							"runAfter": {},
							"type": "InitializeVariable",
							"inputs": {
								"variables": [
									{
										"name": "DefaultNotificationEmail",
										"type": "string",
										"value": "pranay.mishra321@gmail.com"
									}
								]
							}
						},
						"Initialize_variable_RecipientsList": {
							"runAfter": {
								"Initialize_variable_-_DefaultNotificationEmail": [
									"Succeeded"
								]
							},
							"type": "InitializeVariable",
							"inputs": {
								"variables": [
									{
										"name": "RecipientsList",
										"type": "array",
										"value": "@array(triggerBody()?['media_notificationemail'])"
									}
								]
							}
						},
						"Logic-SendEmail": {
							"runAfter": {
								"Compose_Email_Body": [
									"Succeeded"
								]
							},
							"type": "Workflow",
							"inputs": {
								"body": {
									"EmailBody": "@{outputs('Compose_Email_Body')}",
									"Recipient": "@{join(variables('RecipientsList'),';')}",
									"Subject": "@{triggerBody()?['media_name']}"
								},
								"host": {
									"triggerName": "manual",
									"workflow": {
										"id": "[parameters('workflows_Logic_SendEmail')]"
									}
								}
							}
						},
						"Switch_on_ReferredRecordType": {
							"runAfter": {
								"Compose_ReferredRecordType_": [
									"Succeeded"
								]
							},
							"cases": {
								"Case_asset": {
									"case": "asset",
									"actions": {
										"Append_to_array_variable_RecipientList": {
											"runAfter": {
												"Get_asset_record": [
													"Succeeded"
												]
											},
											"type": "AppendToArrayVariable",
											"inputs": {
												"name": "RecipientsList",
												"value": "@body('Get_asset_record')?['media_notificationemailaddress']"
											}
										},
										"Get_asset_record": {
											"runAfter": {},
											"type": "ApiConnection",
											"inputs": {
												"host": {
													"connection": {
														"name": "@parameters('$connections')['commondataservice']['connectionId']"
													}
												},
												"method": "get",
												"path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('cf11e01718114104a69a6e5ee0f3bab5.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('media_assets'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_media_asset_value']))}",
												"path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_assets'),'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?[',durin.wrapInQuote('_media_asset_value'),']))}')]"
											}
										}
									}
								},
								"Case_assetfiles": {
									"case": "assetfiles",
									"actions": {
										"For_each": {
											"foreach": "@body('List_assetfiles_records')?['value']",
											"actions": {
												"Append_to_array_variable": {
													"runAfter": {
														"Compose_asset": [
															"Succeeded"
														]
													},
													"type": "AppendToArrayVariable",
													"inputs": {
														"name": "RecipientsList",
														"value": "@string(outputs('Compose_asset')?['media_notificationemaileddress'])"
													}
												},
												"Compose_asset": {
													"runAfter": {},
													"type": "Compose",
													"inputs": "@json(items('For_each')?['media_Asset'])"
												}
											},
											"runAfter": {
												"List_assetfiles_records": [
													"Succeeded"
												]
											},
											"type": "Foreach"
										},
										"List_assetfiles_records": {
											"runAfter": {},
											"type": "ApiConnection",
											"inputs": {
												"host": {
													"connection": {
														"name": "@parameters('$connections')['commondataservice']['connectionId']"
													}
												},
												"method": "get",
												"path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_assetfileses'),'))}/items')]",
												"queries": {
													"$expand": "media_Asset($select=media_name,media_notificationemailaddress)",
													"$filter": "media_assetfilesid eq '@{triggerBody()?['_media_assetfiles_value']}'"
												}
											}
										}
									}
								}
							},
							"default": {
								"actions": {
									"Append_to_array_variable_2": {
										"runAfter": {},
										"type": "AppendToArrayVariable",
										"inputs": {
											"name": "RecipientsList",
											"value": "@variables('DefaultNotificationEmail')"
										}
									}
								}
							},
							"expression": "@outputs('Compose_ReferredRecordType_')",
							"type": "Switch"
						}
					},
					"outputs": {
					}
				},
				"parameters": {
					"$connections": {
						"value": {
							"commondataservice": {
								"connectionId": "[parameters('connection_commondataservice')]",
								"connectionName": "commondataservice",
								"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
							}
						}
					}
				}
			}
		}
	],
	"outputs": {}
}