deployment/logicapps/generateotp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "crmOrgName": {
            "type": "string",
            "metadata": {
                "description": "description"
            }
        },
        "crmIdentifier": {
            "type": "string",
            "metadata": {
                "description": "description"
            }
        },
        "connections_office365": {
            "type": "string",
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/office365')]"
        },
        "connection_commondataservice": {
            "type": "string",
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/commondataservice')]"
        },
        "connections_azuretables": {
            "type": "string",
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/azuretables')]"
        }
    },
    "functions": [
        {
            "namespace": "durin",
            "members": {
                "wrapInQuote": {
                    "parameters": [
                        {
                            "name": "text",
                            "type": "string"
                        }
                    ],
                    "output": {
                        "value": "[concat('''', parameters('text'),'''')]",
                        "type": "string"
                    }
                }
            }
        }
    ],
    "variables": {
        "org": "[durin.wrapInQuote(concat(parameters('crmOrgName'),'.',parameters('crmIdentifier')))]"
    },
    "resources": [
        {
            "name": "Logic-GenerateOTP",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "userId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Get_entity": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Tables/@{encodeURIComponent('MacAccessToken')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['userId'])}',RowKey='@{encodeURIComponent(triggerBody()?['userId'])}')"
                            },
                            "runAfter": {
                                "OTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Get_record": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('systemusers'),'))}/items/@{encodeURIComponent(encodeURIComponent(body(',durin.wrapInQuote('Get_entity'),')?[',durin.wrapInQuote('userId'),']))}')]"
                            },
                            "runAfter": {
                                "Get_entity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Insert_or_Merge_Entity": {
                            "inputs": {
                                "body": {
                                    "otp": "@{variables('OTP')}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                    }
                                },
                                "method": "patch",
                                "path": "/Tables/@{encodeURIComponent('MacAccessToken')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['userId'])}',RowKey='@{encodeURIComponent(triggerBody()?['userId'])}')"
                            },
                            "runAfter": {
                                "Get_record": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "OTP": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OTP",
                                        "type": "integer",
                                        "value": "@rand(100000,999999)"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Response": {
                            "inputs": {
                                "body": {
                                    "message": "You are not authorized to use Mac Client Application. Please contact your administrator."
                                },
                                "statusCode": 401
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Get_entity": [
                                    "Failed"
                                ]
                            },
                            "type": "Response"
                        },
                        "Response_2": {
                            "inputs": {
                                "body": {
                                    "message": "One time password has been sent to your email. Please use it to login."
                                },
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Insert_or_Merge_Entity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        },
                        "Send_an_email_(V2)": {
                            "inputs": {
                                "body": {
                                    "Body": "<p>Dear User,<br>\n<br>\nPlease use <strong></strong><strong>@{variables('OTP')}</strong><strong> </strong>as one time password for Login. &nbsp;<strong></strong><br>\n<br>\nThanks &amp; Regards,<br>\nAdmin</p>",
                                    "Subject": "One time password for MAC Client Login",
                                    "To": "@body('Get_record')?['internalemailaddress']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {
                                "Insert_or_Merge_Entity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuretables": {
                                "connectionId": "[parameters('connections_azuretables')]",
                                "connectionName": "azuretables",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            },
                            "commondataservice": {
                                "connectionId": "[parameters('connection_commondataservice')]",
                                "connectionName": "commondataservice",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
                            },
                            "office365": {
                                "connectionId": "[parameters('connections_office365')]",
                                "connectionName": "office365",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}