deployment/logicapps/getseasonepisodeforshow.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connection_commondataservice": {
            "type": "string",
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/commondataservice')]"
        },
        "crmOrgName": {
            "type": "string",
            "metadata": {
                "description": "description"
            }
        }
    },
    "functions": [
        {
            "namespace": "durin",
            "members": {
                "wrapInQuote": {
                    "parameters": [
                        {
                            "name": "text",
                            "type": "string"
                        }
                    ],
                    "output": {
                        "value": "[concat('''', parameters('text'),'''')]",
                        "type": "string"
                    }
                }
            }
        }
    ],
    "variables": {
        "org": "[durin.wrapInQuote(concat(parameters('crmOrgName'),'.crm'))]"
    },
    "resources": [
        {
            "name": "Logic-GetSeasonEpisodeForShow",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "showId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                         "Condition": {
                            "actions": {
                                "Create_error_log_record": {
                                    "runAfter": {
                                        "Scope": [
                                            "Failed",
                                            "Skipped",
                                            "TimedOut"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "_media_assetcontainer_value": "@triggerBody()?['showId']",
                                            "media_description": "@{result('Scope')}",
                                            "media_name": "Failed to get season details of show with ShowId: @{triggerBody()?['showId']}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['commondataservice_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_asseterrorlogs'),'))}/items')]"
                                    }
                                },
                                "Response_2": {
                                    "runAfter": {
                                        "Create_error_log_record": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "Failed to get Season details for show ",
                                        "statusCode": 500
                                    }
                                },
                                "Response_Success": {
                                    "runAfter": {
                                        "Scope": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "@outputs('Compose_response')",
                                        "headers": {
                                            "Content-Type": "application/json; charset=utf-8"
                                        },
                                        "statusCode": 200
                                    }
                                },
                                "Scope": {
                                    "actions": {
                                        "Compose_response": {
                                            "runAfter": {
                                                "Compose_season_list": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "blocks": "@variables('block')",
                                                "episodes": "@variables('episode')",
                                                "seasons": "@outputs('Compose_season_list')"
                                            }
                                        },
                                        "Compose_season_list": {
                                            "runAfter": {
                                                "For_each_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@intersection(variables('season'),variables('season1'))"
                                        },
                                        "For_each": {
                                            "foreach": "@body('blocks')?['value']",
                                            "actions": {
                                                "Append_to_array_variable": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "block",
                                                        "value": {
                                                            "id": "@{items('For_each')?['media_blockid']}",
                                                            "name": "@{items('For_each')?['media_name']}",
                                                            "seasonid": "@{items('For_each')?['_media_season_value']}"
                                                        }
                                                    }
                                                },
                                                "Append_to_array_variable_season": {
                                                    "runAfter": {
                                                        "Append_to_array_variable": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "season",
                                                        "value": {
                                                            "seasonId": "@{items('For_each')?['_media_season_value']}",
                                                            "seasonName": "@{string(json(items('For_each')?['media_Season'])['media_name'])}"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "blocks": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "For_each_2": {
                                            "foreach": "@body('episodes')?['value']",
                                            "actions": {
                                                "Append_to_array_variable_2": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "episode",
                                                        "value": {
                                                            "id": "@{items('For_each_2')?['media_episodeid']}",
                                                            "name": "@{items('For_each_2')?['media_name']}",
                                                            "seasonid": "@{items('For_each_2')?['_media_season_value']}"
                                                        }
                                                    }
                                                },
                                                "Append_to_array_variable_3": {
                                                    "runAfter": {
                                                        "Append_to_array_variable_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "season1",
                                                        "value": {
                                                            "seasonId": "@{items('For_each_2')?['_media_season_value']}",
                                                            "seasonName": "@{json(items('For_each_2')?['media_Season'])['media_name']}"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "For_each": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "blocks": {
                                            "runAfter": {
                                                "episodes": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['commondataservice_1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_blocks'),'))}/items')]",
                                                "queries": {
                                                    "$expand": "media_Season($select=media_name;$expand=media_Show($select=media_name))",
                                                    "$filter": "media_Season/_media_show_value eq '@{triggerBody()?['showId']}'"
                                                }
                                            }
                                        },
                                        "episodes": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['commondataservice_1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_episodes'),'))}/items')]",
                                                "queries": {
                                                    "$expand": "media_Season($select=media_name;$expand=media_Show($select=media_name))",
                                                    "$filter": "media_Season/_media_show_value eq '@{triggerBody()?['showId']}'"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Scope"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_block": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response_bad_request": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": {
                                                "message": "ShowId is Required"
                                            },
                                            "headers": {
                                                "Content-Type": "application/json; charset=utf-8"
                                            },
                                            "statusCode": 400
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(triggerBody()?['showId'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable_block": {
                            "runAfter": {
                                "Initialize_variable_episode": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "block",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_episode": {
                            "runAfter": {
                                "Initialize_variable_season1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "episode",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_season": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "season",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_season1": {
                            "runAfter": {
                                "Initialize_variable_season": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "season1",
                                        "type": "array"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "commondataservice": {
                                "connectionId": "[parameters('connection_commondataservice')]",
                                "connectionName": "commondataservice",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}