deployment/logicapps/getshowforuser.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connection_commondataservice": {
            "type": "string",
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/commondataservice')]"
        },
        "crmOrgName": {
            "type": "string",
            "metadata": {
                "description": "description"
            }
        },
        "crmIdentifier": {
            "type": "string",
            "metadata": {
                "description": "crmIdentifier"
            }
        }
    },
    "functions": [
        {
            "namespace": "durin",
            "members": {
                "wrapInQuote": {
                    "parameters": [
                        {
                            "name": "text",
                            "type": "string"
                        }
                    ],
                    "output": {
                        "value": "[concat('''', parameters('text'),'''')]",
                        "type": "string"
                    }
                }
            }
        }
    ],
    "variables": {
        "org": "[durin.wrapInQuote(concat(parameters('crmOrgName'),'.',parameters('crmIdentifier')))]"
    },
    "resources": [
        {
            "name": "Logic-GetShowForUser",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "userId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        }
                    },
                        "actions": {
                        "Condition_-_Check_UserId": {
                            "actions": {
                                "Check_show_found_or_not": {
                                    "actions": {
                                        "Response_success-show_list": {
                                            "runAfter": {},
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "body": "@body('Fetch_User_Show')?['value']",
                                                "statusCode": 200
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Fetch_User_Show": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Response_no_show_assigned": {
                                                "runAfter": {},
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "body": {
                                                        "Message": "No show has assigned to this user"
                                                    },
                                                    "statusCode": 200
                                                },
                                                "runtimeConfiguration": {
                                                    "secureData": {
                                                        "properties": [
                                                            "inputs"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@length(body('Fetch_User_Show')?['value'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Fetch_Teams": {
                                    "runAfter": {
                                        "Logic-ValidateToken": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('teams'),'))}/items')]",
                                        "queries": {
                                            "$filter": "media_Team_media_MacUser_media_MacUser/any(o:o/_media_user_value eq @{body('Logic-ValidateToken')})"
                                        }
                                    }
                                },
                                "Fetch_User_Show": {
                                    "runAfter": {
                                        "For_each": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(',variables('org'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',durin.wrapInQuote('media_assetcontainers'),'))}/items')]",
                                        "queries": {
                                            "$expand": "media_Studio($select=media_name)",
                                            "$filter": "media_AssetContainer_media_MacUser_media_/any(o:o/_media_user_value eq ' @{body('Logic-ValidateToken')}') @{if(empty(variables('Teams')),'',concat(' or media_AssetContainer_Team_Team/any(o:',join(variables('Teams'),' or '),')'))}"
                                        }
                                    }
                                },
                                "For_each": {
                                    "foreach": "@body('Fetch_Teams')?['value']",
                                    "actions": {
                                        "Append_to_array_variable": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "Teams",
                                                "value": "@concat('(o/teamid eq ',items('For_each')?['teamid'],')')"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Fetch_Teams": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Logic-ValidateToken": {
                                    "runAfter": {},
                                    "type": "Workflow",
                                    "inputs": {
                                        "body": {
                                            "token": "@{triggerOutputs()['headers']['x-auth-token']}",
                                            "userId": "@triggerBody()?['userId']"
                                        },
                                        "host": {
                                            "triggerName": "manual",
                                            "workflow": {
                                                 "id": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Logic/workflows/Logic-ValidateToken')]"
                                            }
                                        }
                                    }
                                },
                                "Response_2": {
                                    "runAfter": {
                                        "Logic-ValidateToken": [
                                            "Failed"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "@body('Logic-ValidateToken')",
                                        "statusCode": 401
                                    }
                                },
                                "Response_failure": {
                                    "runAfter": {
                                        "Fetch_User_Show": [
                                            "Failed",
                                            "Skipped",
                                            "TimedOut"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": {
                                            "Message": "Failed to fetch show for this user"
                                        },
                                        "statusCode": 500
                                    },
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [
                                                "inputs"
                                            ]
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": {
                                                "message": "UserId Required"
                                            },
                                            "headers": {
                                                "Content-Type": "application/json; charset=utf-8"
                                            },
                                            "statusCode": 400
                                        },
                                        "runtimeConfiguration": {
                                            "secureData": {
                                                "properties": [
                                                    "inputs"
                                                ]
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(triggerBody()?['userId'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Teams",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {

                            "commondataservice": {
                                "connectionId": "[parameters('connection_commondataservice')]",
                                "connectionName": "commondataservice",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/commondataservice')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}