deployment/logicapps/resetpassword.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_office365users": {
            "defaultValue":"[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/office365users')]",
            "type": "String"
        },
        "crmOrgName": {
			"type": "string",
			"metadata": {
				"description": "description"
			}
		},
		"crmIdentifier": {
			"type": "string",
			"metadata": {
				"description": "crmIdentifier"
			}
		}
    },
    "variables": {
        "org": "[durin.wrapInQuote(concat(parameters('crmOrgName'),'.',parameters('crmIdentifier')))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "Logic-ResetPassword",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "newPassword": {
                                            "type": "string"
                                        },
                                        "userName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_my_profile_(V2)": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365users']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/codeless/v1.0/me"
                            }
                        },
                        "Initialize_variable_configurations": {
                            "runAfter": {
                                "Get_my_profile_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "configurations",
                                        "type": "object",
                                        "value": {
                                            "clientSecret": "4a4O8c.PbmS8lCWi5y_uwQiXi~N_IY4_x5",
                                            "clientid": "ed2014f9-c66a-451d-9893-05e77a7bfad0"
                                        }
                                    }
                                ]
                            }
                        },
                        "Response_failure": {
                            "runAfter": {
                                "Scope": [
                                    "TimedOut",
                                    "Failed"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "Message": "Password reset failed"
                                },
                                "statusCode": 500
                            }
                        },
                        "Response_success": {
                            "runAfter": {
                                "Scope": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "Message": "Password reset successfully"
                                },
                                "statusCode": 200
                            }
                        },
                        "Scope": {
                            "actions": {
                                "HTTP_-_Get_Access_Token": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": "grant_type=client_credentials&client_id=@{variables('configurations')['clientid']}&client_secret=@{variables('configurations')['clientSecret']}&resource=https://graph.microsoft.com",
                                        "headers": {
                                            "Content-Type": "application/x-www-form-urlencoded",
                                            "Keep-Alive": "true"
                                        },
                                        "method": "POST",
							            "uri": "@{concat('https://login.microsoftonline.com/', last(split(body('Get_my_profile_(V2)')?['userPrincipalName'],'@')), '/oauth2/token')}"
                                    }
                                },
                                "HTTP_-_Reset_Password": {
                                    "runAfter": {
                                        "HTTP_-_Get_Access_Token": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "passwordProfile": {
                                                "forceChangePasswordNextSignIn": true,
                                                "password": "@triggerBody()?['newPassword']"
                                            }
                                        },
                                        "headers": {
                                            "Authorization": "Bearer @{body('HTTP_-_Get_Access_Token')?['access_token']}",
                                            "Content-Type": "application/json"
                                        },
                                        "method": "PATCH",
                                        "uri": "@{concat('https://graph.microsoft.com/v1.0/users/', triggerBody()?['userName'])}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_configurations": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365users": {
                                "connectionId": "[parameters('connections_office365users')]",
                                "connectionName": "office365users",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365users')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}