deployment/logicapps/verifyotp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_azuretables": {
            "type": "string",
            "defaultValue": "[concat(subscription().id,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/azuretables')]"
        }
    },
    "functions": [],
    "variables": {},
    "resources": [
        {
            "name": "Logic-VerifyOTP",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "otp": {
                                            "type": "string"
                                        },
                                        "userId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Insert_or_Merge_Entity": {
                                    "inputs": {
                                        "body": {
                                            "otp": "",
                                            "token": "@{variables('token')}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "/Tables/@{encodeURIComponent('MacAccessToken')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['userId'])}',RowKey='@{encodeURIComponent(triggerBody()?['userId'])}')"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                },
                                "Response": {
                                    "inputs": {
                                        "body": {
                                            "token": "@{variables('token')}"
                                        },
                                        "statusCode": 200
                                    },
                                    "kind": "Http",
                                    "runAfter": {
                                        "Insert_or_Merge_Entity": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Response"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Response_2": {
                                        "inputs": {
                                            "body": {
                                                "message": "Either wrong or expired OTP entered."
                                            },
                                            "statusCode": 404
                                        },
                                        "kind": "Http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Get_entity')?['otp']",
                                            "@triggerBody()?['otp']"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@empty(triggerBody()?['otp'])",
                                            false
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Get_entity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Get_entity": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Tables/@{encodeURIComponent('MacAccessToken')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['userId'])}',RowKey='@{encodeURIComponent(triggerBody()?['userId'])}')"
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Initialize_variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "token",
                                        "type": "string",
                                        "value": "@{guid()}"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Response_3": {
                            "inputs": {
                                "body": {
                                    "message": "You have not been granted to use Mac Client. Please contact Administrator."
                                },
                                "statusCode": 401
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Get_entity": [
                                    "Failed"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuretables": {
                                "connectionId": "[parameters('connections_azuretables')]",
                                "connectionName": "azuretables",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {}
}